<h1 class='mb-5'><%= @message.nom %></h1>

<%= simple_format @message.body_builder(current_user) %>


<div class='mt-5'>
  <%= link_to "Modifier", edit_message_path(@message) %> |
  <%= link_to "Retour", messages_path %>
</div>
