<h1>Notification</h1>
<br><br>
L'attribut <%= @notification.field.name %> de l'objet <%= @notification.table.name %> est passé à <%= @notification.value %>.
<br><br>
<%= link_to "Voir les détails", details_url(@notification.table.slug, record_index: @record_index) %>