<h1>Nouveau contenu '<%= @table.name %>'</h1>

<% @items.each do |item| %>
  <%= item.try(:html_safe) %><br>
<% end %>

<hr style="margin-top: 30px; border: 1px solid #ccc">

<h1>New content '<%= @table.name %>'</h1>

<% @items.each do |item| %>
  <%= item.try(:html_safe) %><br>
<% end %>