<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Nouveau contenu '<%= @table.name %>'</h1>
    
    <% @items.each do |item| %>
    	<%= item.try(:html_safe) %><br>
    <% end %>
  </body>
</html>