<%= render @graph %>

<div>
  <%= link_to t('scaffold.edit'), edit_graph_path(@graph) %> |
  <%= link_to t('scaffold.back'), graphs_path %>

  <%= button_to t('scaffold.destroy'), @graph, method: :delete %>
</div>
