<h3>Signature</h3>
<br>
<div class="sigPad_show">
  <canvas class="pad" width="350" height="53"></canvas>
</div>
<br>
<%= link_to "Fermer", @table, class:'btn btn-lg btn-default' %>

<script type="text/javascript">
  $(document).ready(function () {
    sig = <%= raw @signature %>;
    $('.sigPad_show').signaturePad({ displayOnly:true }).regenerate(sig);
  });
</script>