<div id='map' style='height:35vh; margin-top: 5px'></div>

<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoicGhpbG5vdWciLCJhIjoiY2pvNXRyczhjMDFkajNxcGVmNHZtcHZ4OSJ9.vcFMjboSUDUUg--tDsgapg';

  var lng = <%= value.split(',').last.to_f %>
  var lat = <%= value.split(',').first.to_f %>
  var map = new mapboxgl.Map({
    container: 'map',
    center: [lng, lat],
    zoom: 15,
    style: 'mapbox://styles/mapbox/streets-v11'
  });

  var marker = new mapboxgl.Marker({ color: "#FF0000"})
                            .setLngLat([lng, lat])
                            .addTo(map);

  map.addControl(new mapboxgl.FullscreenControl());
  map.addControl(new mapboxgl.NavigationControl());
</script>