<nav class="nav flex-column bg-secondary gap-5 py-4 position-absolute top-0 start-0 overflow-hidden h-100" style="width: 80px;">
  <li class="nav-item flex-fill mx-auto mt-2">
    <%= link_to root_path, title: "Liste des tables" do %>
      <i class="fa-solid fa-house fa-2xl text-white"></i>
    <% end %>
  </li>
  <li class="nav-item mx-auto">
    <%= link_to @current_user, title: "Profil utilisateur" do %>
      <i class="fa-solid fa-circle-user fa-2xl text-white"></i>
    <% end %>
  </li>
  <li class="nav-item mx-auto">
    <%= link_to root_path, title: "Paramètres" do %>
      <i class="fa-solid fa-gear fa-2xl text-white"></i>
    <% end %>
  </li>
  <li class="nav-item mx-auto">
    <%= link_to "/logout", title: "Se déconnecter" do %>
      <i class="fa-solid fa-right-from-bracket fa-2xl text-white"></i>
    <% end %>
  </li>
</nav>