<% if notice.present? || alert.present? %>
  <div class="alert alert-dismissible fade show alert-<%= notice ? 'success' : 'danger' %> mt-3" role="alert">
    <% if alert %>
      <i class="fa-solid fa-circle-exclamation"></i>
      <%= alert %>
    <% else %>
      <i class="fa-solid fa-circle-info"></i>
      <%= notice %>
    <% end %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>