<%= turbo_frame_tag "related_tables_frame" do %>
  <div class="card p-3 shadow">
    <% if @records.any? %>
      <%= render partial: 'partials/table', locals: { table: @relation.table, records: @records } %>
    <% else %>
      <div class="text-center text-black-50">
        Aucun enregistrement
      </div>
      <% if %w[show_details related_tables].include?(action_name) %>
        <% if policy(table).fill? %>
          <%= link_to "(+) #{table.name.humanize}", fill_path(table, relation: @relation, value: @record_index), class: 'btn btn-outline-primary my-4', data: { turbo_frame: "_top" }  %>
        <% end %>
      <% end %>
    <% end %>
  </div>

<% end %>