<% values = table.value_datas_listable(record_index) %>

<% if not values.empty? %>
  <% @records_size += 1 %>
  <tr>
    <% table.fields.listable.ordered.each_with_index do | field, index | %>
      <%= render partial: 'partials/table_cell', locals: {table:, record_index:, field:, is_link: (index == 0), value: values[index] } %>
    <% end %>

    <td style="vertical-align: middle;">
      <%= t('scaffold.time_ago', time: time_ago_in_words(table.last_update_at(record_index))) %>
    </td>

    <td style="text-align: right; vertical-align: middle; white-space: nowrap;">
      <% if policy(table).show_details? %>
        <%= link_to details_path(table.slug, record_index:), title: t('tables.details_line'), class: 'text-reset text-decoration-none', 'data-testid': "Voir ligne n°#{record_index}", data: { turbo_frame: "_top" } do %>
          <span class="material-symbols-outlined">
            more_horiz
          </span>
        <% end %>
      <% end %>
    </td>
  </tr>
<% end %>