<% unless ['show_details', 'related_tables'].include?(action_name) && @relation.field == field %>
  <th>
    <%= link_to url_for(params.permit!.merge(sort_by: field.id)), class:'text-decoration-none text-black' do %>
      <span class="text-nowrap">
        <%= field.name.humanize %>
        <% if params[:sort_by] == field.id.to_s %>
          <span class="text-decoration-none text-warning "><%= (session[:order_by] == 'ASC') ? '△' : '▽' %></span>
        <% end %>
      </span>
    <% end %>
  </th>
<% end %>