<%= image_tag "undraw_Real_time_sync_re_nky7.png", class:'w-100 w-sm-75 mx-auto' %>
<h1 class="text-primary">CrystalDATA</h1>
<h2 class="fw-normal fs-4">Vos données métier 'In da Cloud'</h2>
<h3 class="fw-light fs-5">
    Application NO-CODE de base de données en ligne, qui vous permet de créer  
    des collections d'objets métiers variés (Clients, Interventions, Technicien, Frais, Projets, etc.), 
    de les lier entre elles (Clients <-> Interventions <-> Techniciens), 
    et de les partager avec vos collaborateurs.
</h3>
<div class="d-flex flex-wrap gap-4">
    <%= link_to "En savoir plus", a_propos_path, class: "btn btn-outline-primary flex-fill" %>
    <%= link_to "Se connecter en tant qu'invité (mode démonstration)", user_connect_guest_user_path(1), class: 'btn btn-outline-success flex-fill' %>
</div>
