<div class="w-sm-50 p-sm-5 m-sm-5">
    <%= image_tag "undraw_Real_time_sync_re_nky7.png", class:'w-100 w-sm-75 mx-auto' %>
    <h1 class="text-primary">CrystalData</h1>
    <h2 class="fw-normal fs-4">Vos données métier 'In da Cloud'</h2>
    <h3 class="fw-light fs-5">
        Application NO-CODE de base de données en ligne, qui vous permet de créer  
        des collections d'objets métiers variés (Clients, Interventions, Technicien, Frais, Projets, etc.), 
        de les lier entre elles (Clients <-> Interventions <-> Techniciens), 
        et de les partager avec vos collaborateurs.
    </h3>
    <%= link_to "En savoir plus", a_propos_path, class: "btn btn-outline-primary" %>
</div>
