<div class="my-4 d-flex align-items-center text-warning gap-2">
  <h1 class="mb-0">
    Notifications
  </h1>
</div>

<div class="overflow-x-auto">
  <table class="table table-hover border align-middle">
    <thead>
      <tr class="table-secondary">
        <th>Objet</th>
        <th>Attribut</th>
        <th>Valeur de déclenchement</th>
        <th>Notification envoyée à</th>
        <th>Dernière notification envoyée</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% if @notifications.any? %>
        <% @notifications.each do |notification| %>
          <%= render notification %>
        <% end %>
      <% else %>
        <tr>
          <td colspan=7>
            <i>
              Aucune notification pour l'instant...
            </i>
          </td>
        </tr>
      <% end %>
    </tbody>

  </table>
</div>

<%= link_to "Nouvelle notification", new_notification_path, class: 'btn btn-outline-primary' %>
<%= link_to "Voir l'historique des emails envoyés", mail_logs_path, class: 'btn btn-outline-secondary' %>