<% content_for :title, "Modifier utilisateur" %>

<h1>Modifier utilisateur</h1>

<%= render "form", user: @user %>

<br>

<div>
  <%= link_to "Voir", @user %> |
  <%= link_to "Retour", users_path %>
</div>
