<div class="my-4 d-flex align-items-center text-secondary gap-2">
	<%= evil_icon 'ei-archive', size: :m %>
	<h1 class="mb-0 d-inline">
		Modification de l'Objet '<%= @table.name.humanize %>'
	</h1>
</div>

<%= render 'form' %>
