<br>
<h2>
	Export de la table '<%= @table.name.humanize %>' terminé
</h2>
<br>

Données modifiées entre le <%= @debut %> et le <%= @fin %>
<br><br>

<%= link_to "Cliquez sur ce lien pour obtenir le fichier", table_path(@table, format: :xls, debut:@debut, fin:@fin) %>
