<br>
<h2>
  	<i class="glyphicon glyphicon-download"></i> 
	Import du fichier '<%= @new_table.name %>' terminé
</h2>

<%= @out %>
<br><br>

<%= link_to @new_table, class: 'btn btn-outline-success' do %>
    <i class="glyphicon glyphicon-th-list"></i> Voir la table importée
<% end %>

