<h1 class="text-primary mb-4">
  Importer
</h1>

<p class="mb-4">
  Le fichier à importer doit être de type CSV, au format UTF-8, avec comme séparateur la virgule (,) et les entêtes de colonnes sur la première ligne. 
</p>

<%= form_tag({action: "import_do", method: :post}, multipart: true) do %>
  <%= label_tag :upload, "Fichier source" %>
  <%= file_field_tag :upload, accept: 'text/csv', class: 'form-control w-25', required: true %>
  <%= submit_tag "Importer", class: 'btn btn-outline-success mt-4' %>
<% end %>
