<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
</head>

<% if @table.fields.any? %>
    <table style="border:0;">
      <thead>
        <tr>
          <% @table.fields.each do | field | %>
              <th><%= field.name %></th>
          <% end %>
          <th>Modifié le</th>
        </tr>
      </thead>
      <tbody>
        <% updated_at_list = @table.values.group(:record_index).maximum(:updated_at) %>

        <% @records.each do | index | %>
          <% values = @table.values.joins(:field).records_at(index).order("fields.row_order").pluck(:data) %>
          <% updated_at = updated_at_list[index] %>
          <tr>
            <% @table.fields.each_with_index do | field,index | %>
              <td>
                <% if field.datatype == "Signature" and values[index] %>
                  Signé
                <% else %>
                  <%= values[index] %>
                <% end %>
              </td>
            <% end %>
            <td><%= l(updated_at) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
<% end %>
