<div class="my-4 d-flex align-items-center text-success gap-2">
  <h1 class="mb-0">
    Filtres
  </h1>
</div>

<div class="overflow-x-auto">
  <table class="table table-striped table-hover sticky">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Table</th>
        <th>Critères</th>
        <th>MÀJ</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% if @filters.any? %>
        <% @filters.includes([:table]).each do |filter| %>
          <%= render filter %>
        <% end %>
      <% else %>
        <tr>
          <td colspan=7>
            <i>
              Aucun filtre pour l'instant...
            </i>
          </td>
        </tr>
      <% end %>
    </tbody>

  </table>
</div>

<%= link_to "Nouveau Filtre", new_filter_path, class: 'btn btn-outline-success' %>
