<div class="my-4 d-flex align-items-center text-success gap-2">
  <%= evil_icon 'ei-search', size: :m %>
  <h1 class="mb-0">
    Filtres
  </h1>
</div>

<% @filters.includes([:table]).each do |filter| %>
  <%= render filter %>
<% end %>

<%= link_to "Nouveau Filtre", new_filter_path, class: 'btn btn-outline-success' %>
