<div class="my-4 d-flex align-items-center text-success gap-2">
  <h1 class="mb-0">
    Reports
  </h1>
</div>

<div class="overflow-x-auto">
  <table class="table table-hover border align-middle">
    <thead>
      <tr class="table-secondary">
        <th>Nom</th>
        <th>Collection</th>
        <th>filtres</th>
        <th>MÀJ</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% if @filters.any? %>
        <% @filters.includes([:table]).each do |filter| %>
          <%= render filter %>
        <% end %>
      <% else %>
        <tr>
          <td colspan=7>
            <i>
              Aucun filtre/report pour l'instant...
            </i>
          </td>
        </tr>
      <% end %>
    </tbody>

  </table>
</div>

<%= link_to "Nouveau", new_filter_path, class: 'btn btn-outline-success' %>
