<div class="my-4 d-flex align-items-center text-primary gap-2">
  <h1 class="mb-0">
    Attributs de l'Objet '<%= @field.table.name %>'
  </h1>
</div>

<!--- TODO: Partial (idem show_attrs) -->
<% if @field.table.fields.any? %>
	<div class="overflow-x-auto">
		<table class="table table-hover align-middle">
			<thead>
				<tr>
					<th class="col-md-1">#</th>
					<th>Type de données</th>
					<th>Nom de l'attribut</th>
					<th>Options</th>
					<th>Visibilité</th>
					<th></th>
				</tr>
			</thead>
			<% @field.table.fields.ordered.each_with_index do | field, index | %>
				<%= render partial:'fields/field', locals: {field:field, i:index} %>
			<% end %>
		</table>
	</div>
<% end %>
<br>

<h3 id="field_edit" class="text-primary mb-4">Modification de l'attribut '<%= @field.name.humanize %>'</h3>

<%= render 'form' %>


