<div class="mb-4">
  <h1 class="text-primary">
    <span class="fa fa-gears"></span>
    Structure de la table '<%= @field.table.name.humanize %>'
  </h1>
</div>

<h2 class="mb-5">Modification de la colonne '<%= @field.name.humanize %>'</h2>

<%= render 'form' %>


