<div class="my-4 d-flex align-items-center text-primary gap-2">
  <%= evil_icon 'ei-gear', size: :m %>
  <h1 class="mb-0">
    Attributs de l'Objet '<%= @field.table.name.humanize %>'
  </h1>
</div>

<h2 class="mb-5">Modification de l'attribut '<%= @field.name.humanize %>'</h2>

<%= render 'form' %>


