<html>
  <body style="background: #f7f7f7; font-family: sans-serif">
    <div style="border: solid; border-width: thin; border-color: #cccccc; border-radius: 8px; padding: 1.25rem;">
      <%= yield %>
    </div>
  </body>
</html>
